@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
  --clr-dark: #0d1b2a;
  --clr-dark-300: #1b263b;
  --clr-dark-600: #415a77;
  --clr-dark-900: #778da9;
  --clr-neutral: #e0e1dd;
}
.App {
  background-color: var(--clr-dark-300);
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html,
li,
ul,
ol,
a {
  color: var(--clr-neutral);
}
.nav-section {
  background-color: var(--clr-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}
.nav-logo > a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
}
.nav-section > nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav-section > nav > a {
  text-decoration: none;
}
.nav-section > nav > a:hover {
  text-decoration: underline;
}
.page-container {
  padding-inline: 60px;
  padding-block: 40px;
}
.recipe-list {
  display: grid;
  gap: 60px;
}
@media (min-width: 1000px) {
  .recipe-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.recipe-list > .card {
  padding: 25px;
  background-color: var(--clr-dark);
  border-radius: 6px;
}
.recipe-list > .card > h3 {
  font-size: 1.5em;
  padding-bottom: 0.5rem;
}
.recipe-list > .card > p {
  margin-bottom: 1.5rem;
  font-size: 0.8em;
  font-style: italic;
}
.recipe-list > .card > a {
  margin-top: 1.5rem;
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-neutral);
  padding: 8px 20px;
  color: var(--clr-dark);
  border-radius: 6px;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.3s;
}
.recipe-list > .card > a:hover {
  background-color: var(--clr-dark-600);
  color: var(--clr-neutral);
}
.recipe > h2 {
  font-size: 2em;
  margin-bottom: 1rem;
}
.cooking-time {
  margin-bottom: 2rem;
}
.recipe > h4 {
  margin-bottom: 1rem;
}
.recipe > ul {
  margin-bottom: 2rem;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.recipe > ul > li {
  padding: 6px 12px;
  border: 1px solid var(--clr-neutral);
  border-radius: 100vw;
}
p.process {
  max-width: 55ch;
}
.form {
  display: grid;
  gap: 20px;
  max-width: 620px;
  margin-top: 40px;
}
.form > label {
  display: grid;
  gap: 10px;
}
.form input,
.form textarea {
  padding: 6px 20px;
  border-radius: 4px;
  outline: 0;
  border: 0;
}
.form textarea {
  resize: none;
  min-height: 100px;
}
.form > button {
  padding-block: 12px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: var(--clr-dark-600);
  color: var(--clr-neutral);
}
.form .ingredients {
  display: flex;
  gap: 10px;
}
.form .ingredients > input {
  flex-grow: 1;
}
.form .btn-add {
  width: fit-content;
  padding: 2px 12px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--clr-dark-600);
  color: var(--clr-neutral);
  border: 0;
  outline: 0;
  border-radius: 4px;
}
.current-ingredients {
  font-size: 0.8em;
}
.nav-btn {
  text-decoration: none;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  padding: 6px 20px;
  border-radius: 6px;
  font-weight: 600;
}
.nav-section > nav .nav-btn:hover {
  text-decoration: none;
}
.search-bar input {
  border: 0;
  outline: 0;
  border-radius: 6px;
  padding: 4px 16px;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
}
.search-bar input::placeholder {
  color: var(--clr-dark);
}
.search-title {
  margin-bottom: 40px;
}
